header {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--black); 
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  
  img {
    width: 10em;
    height: auto;
    margin-top: -3em;
    margin-bottom: -3em;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;

    li a {
      font-size: 1rem;
      color: var(--white); 
      text-decoration: none;
      transition: color 0.3s;

      &:hover {
        color: var(--primary); 
      }
    }
  }
}
