.hero-section {
  position: relative;
  height: 100vh;
  overflow: hidden;
  color: var(--white);
  padding-top: 32vh;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  text-align: center;

  .hero-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

  }

  .hero-content {
    position: relative;
    z-index: 3;
    padding: 0 20px;

    .hero-title {
      margin-top:0px;
      margin-bottom: 1vw;
      font-size: 8.5vw;
      font-weight: 100;
      color: var(--black);
      font-family: 'mazreha', sans-serif;
      text-shadow: 2px 2px 5px var(--text-shadow-dark);
    }
    .hero-image-container {
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: baseline;
      align-items: center;
      text-align: center;
    

      .hero-image {
        width: 100%;
        height: auto;
        object-fit: cover;
        object-position: center;
        margin-top: 1vw;
        margin-bottom: 1vw;
        border-radius: 6vw;
      }
    }
  }
}
